header {
    background-color: #244751;
    color: #E8FDFF;
}
body{
    background-color: whitesmoke;
} 
main {
    background-color: white;
    padding: 16px;
}
.finstagram-post {
    margin-bottom: 48px;
}
.finstagram-post .user-info img {
    border-radius: 50%;
}
body {
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
}
a.photo{
    transition: padding 0.5s;
}
a.photo:hover{
    padding: 10px;
}